body{
    background: #E5E5E5;
}

.app-wrap {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

.text-gray{
    color:#7D7D7D;
 }

 .f-sm{
    font-size: 10px;
  }
  
 .text-right{
    text-align: right;
 }
  
 .cp{
    cursor: pointer;
 }
  
 .row{
      margin-left:0px;
      margin-right:0px;
 }
  
  