
.header{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #fff;
    height: 79px;
    display: flex;
    align-items: center;
    padding-left:20px;

    padding-right: 120px;
    justify-content: flex-end;
 }
  
.header .balance{
    font-size:14px;
    margin-left:20px;
}
  
.header .balance .number{
    font-size:16px;
    color:#000;
}

.body{
    padding-top: 110px;
    padding-left: 60px;
 }
  
 .footer{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      background-color: #f5f5f5;
 }
  