.filterWrapper input{
  height: 39px;
  width: 300px;
  border-radius: 5px;
}

.filterWrapper .btn{
  margin-left: 15px;
}

.bonusWrapper{
  padding-top: 30px;
}

.itemService{
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;

  background: #fff;
  min-height: 70px;
  width: 90vw;
  padding: 10px;
}

.itemService:hover{
  border:1px solid #0085FF;
}

.itemService .btn{
  margin-top: 10px;
}

.promocode-input{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding:5px;
}

.copyPromocode{
  float:right;
  cursor: pointer;
}

.copyPromocode i{
  color: #0085FF;
}